<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Antrag auf Baumfällung</title>
    <link rel="stylesheet" th:href="@{/resources/css/application_form.css}">
</head>
<body>

	<div class="header-bar">
		<form action="/logout" method="post">
			<button type="submit" class="logout-button">Logout</button>
		</form>
	</div>
    <div class="formular" style="width: 75%; left: 10%; top: 6%">
        <h2>Antrag auf Baumfällung</h2>
		<form action="/submit-application" method="post">
           
            <div class="input-group" style="display: flex">
            
            	<div class="person" style="flex: 1">
            		<div style="font-weight: bold; margin-bottom: 5px;">Angaben zur Antragstellende Person</div>
	            	<label style="margin: 5px 0;">Familienname</label>
	                <input type="text" id="familienname" name="familienname" placeholder="Familienname" style="margin: 5px 0;" required>
	        
	  				<label style="margin: 5px 0;">Vornamen</label>
	                <input type="text" id="vornamen" name="vornamen" placeholder="Vornamen" style="margin: 5px 0;" required>
	         
	         		<label style="margin: 5px 0;">Straße</label>
	                <input type="text" id="strasse" name="strasse" placeholder="Straße" style="margin: 5px 0;" required>
	    
	    			<label style="margin: 5px 0;">Hausnummer</label>
	                <input type="text" id="hausnummer" name="hausnummer" placeholder="Hausnummer"  style="margin: 5px 0;" required>
	   
	   				<label style="margin: 5px 0;">PLZ</label>
	                <input type="text" id="plz" name="plz" placeholder="PLZ" style="margin: 5px 0;" required>
	       
					<label style="margin: 5px 0;">Ort</label>
	                <input type="text" id="ort" name="ort" placeholder="Ort" style="margin: 5px 0;" required>
	  				<div class="kommunikation">
	  					<div style="font-weight: bold; margin: 10px 0 5px;">Kommunikation</div>
		  				<label style="margin: 5px 0;">Telefon</label>
		                <input type="text" id="telefon" name="telefon" placeholder="Telefon" style="display: block;margin: 5px 0;" required>
		                
		  				<label style="margin: 5px 0;">E-Mail</label>
		                <input type="email" id="email" name="email" placeholder="E-Mail" required style="width: 96%;height: 26px; margin: 5px 0">
	                </div>
                </div>
                <div class="vorhaben" style="flex: 1">
                	<div style="font-weight: bold; margin-bottom: 5px;">Angaben zum geplanten Vorhaben</div>
	    			<label style="margin: 5px 0;">Art des Gewächses</label>
	                <input type="text" id="art_gewaechs" name="art_gewaechs" placeholder="Art des Gewächses" style="margin: 5px 0;" required>
	                
	                <p>Steht der Baum außerhalb eines Waldes?</p>
				    <input type="radio" id="baum_ausserhalb_wald" name="baum_ausserhalb_wald" value="true">
				    <label for="baum_ausserhalb_wald">Ja</label>
				    <input type="radio" id="baum_ausserhalb_wald" name="baum_ausserhalb_wald" value="false">
				    <label for="baum_ausserhalb_wald">Nein</label>
				
				    <p>Steht der Baum außerhalb einer Kurzumtriebsplantage?</p>
				    <input type="radio" id="baum_ausserhalb_kurzumtriebsplantage" name="baum_ausserhalb_kurzumtriebsplantage" value="true">
				    <label for="baum_ausserhalb_kurzumtriebsplantage">Ja</label>
				    <input type="radio" id="baum_ausserhalb_kurzumtriebsplantage" name="baum_ausserhalb_kurzumtriebsplantage" value="false">
				    <label for="baum_ausserhalb_kurzumtriebsplantage">Nein</label>
				
				    <p>Steht der Baum außerhalb einer gärtnerisch genutzten Grundfläche?</p>
				    <input type="radio" id="baum_ausserhalb_gaertnerisch_genutzte_flaeche" name="baum_ausserhalb_gaertnerisch_genutzte_flaeche" value="true">
				    <label for="baum_ausserhalb_gaertnerisch_genutzte_flaeche">Ja</label>
				    <input type="radio" id="baum_ausserhalb_gaertnerisch_genutzte_flaeche" name="baum_ausserhalb_gaertnerisch_genutzte_flaeche" value="false">
				    <label for="baum_ausserhalb_gaertnerisch_genutzte_flaeche">Nein</label>
	                
	   				<label style="margin: 5px 0; display: block">Straße Standort</label>
	                <input type="text" id="strasse_standort" name="strasse_standort" placeholder="Straße Standort" style="margin: 5px 0;" required>
	
					<label style="margin: 5px 0;">Hausnummer Standort</label>
	                <input type="text" id="hausnummer_standort" name="hausnummer_standort" placeholder="Hausnummer Standort" style="margin: 5px 0;" required>
	         
	         		<label style="margin: 5px 0;">PLZ Standort</label>
	                <input type="text" id="plz_standort" name="plz_standort" placeholder="PLZ Standort" style="margin: 5px 0;" required>
	     
	     			<label style="margin: 5px 0;">Ort Standort</label>
	                <input type="text" id="ort_standort" name="ort_standort" placeholder="Ort Standort" style="margin: 5px 0;" required>
	   
	   				<label style="display: block; margin: 5px 0">Startdatum des Vorhabens</label>
	                <input type="date" id="startdatum_vorhaben" name="startdatum_vorhaben" style="display: block; height: 25px; margin: 5px 0" required >
	 
	 				<label style="display: block; margin: 5px 0">Enddatum des Vorhabens</label>
	                <input type="date" id="enddatum_vorhaben" name="enddatum_vorhaben" style="display: block; height: 25px; margin: 5px 0" required>
	         
	         		<label style="margin: 5px 0;">Beschreibung des Vorhabens</label>
	                <textarea id="beschreibung_vorhaben" style="height: 75px;" name="beschreibung_vorhaben" placeholder="Beschreibung des Vorhabens" required></textarea>
  				</div>
                </div>
            <div style="display: flex; width: 200px; justify-content: space-between; position: absolute; bottom: 100px; left: 120px">
	            <input type="submit" value="SENDEN" class="button" style="width: 93px">
	            <button class="buttonAb" style="width: 100px" onclick="window.location.href='/dashboard_user';">ABBRECHEN</button>
            </div>


        </form>
    </div>
</body>
</html>
