<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sachbearbeiter-Übersicht</title>
    <link rel="stylesheet" th:href="@{/resources/css/dashboard_clerks.css}">
</head>
<body>
    <div class="header-bar">
        <form action="/logout" method="post">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
    <div class="uebersicht">
        <h2>Sachbearbeiter-Übersicht</h2>
        <div th:each="request : ${allRequests}" class="requests">
            <div th:class="${request.status != null ? 'status-' + request.status.toString().toLowerCase() : 'status-unbekannt'}">
                <span th:text="'Antrag #' + ${request.id}"></span>
                <span th:text="' - ' + (${request.status != null} ? ${request.status} : 'UNBEKANNT')"></span>
            </div>
            <button class="button" th:onclick="'window.location.href=\'/request/' + ${request.id} + '\''">ANTRAG ANSEHEN</button>
            <button class="button" th:onclick="'window.location.href=\'/server_chat?requestId=' + ${request.id} + '\''">KONTAKTIEREN</button>
        </div>
    </div>
</body>
</html>
