<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
        <link rel="stylesheet" th:href="@{/resources/css/communication_interface.css}">
</head>
<body>
    <div class="chat-container" id="chatContainer">
        <!-- Chat messages will be displayed here -->
    </div>
    <form id="sendMessageForm">
        <input type="text" id="text" name="text" placeholder="Type your message..." required>
        <button type="submit">Send</button>
        <input type="hidden" id="sender" name="sender" th:value="${#httpServletRequest.remoteUser}" /> <!-- Angemeldeten Benutzer als verstecktes Feld hinzugefügt -->
    </form>

<script>
    const chatContainer = document.getElementById('chatContainer');
    const currentUser = document.getElementById('sender').value; // Den angemeldeten Benutzernamen aus dem versteckten Feld holen

    function displayMessage(message) {
        const messageElement = document.createElement('div');
        messageElement.textContent = `${message.sender}: ${message.text}`;
        messageElement.classList.add('message');
        if (message.sender === currentUser) { // Vergleiche mit dem aktuellen Benutzer
            messageElement.classList.add('sender');
        } else {
            messageElement.classList.add('receiver');
        }
        chatContainer.appendChild(messageElement);
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }

    document.getElementById('sendMessageForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData(this);
        const newMessage = {
            sender: currentUser,
            text: formData.get('text')
        };

        // Sendet die Daten zum Server
        fetch('/send', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(newMessage) // Korrektur: Verwende newMessage statt messageData
        })
        .then(response => response.json())
        .then(sentMessage => {
        	 console.log('Empfangene Nachricht:', sentMessage);
            displayMessage(sentMessage); // Zeigt die Nachricht mit vom Server bestätigten Daten an
            this.reset(); // Formular zurücksetzen
        })
        .catch(error => console.error('Error:', error));
        this.reset(); // Diese Zeile könnte entfernt werden, da sie bereits im .then-Block aufgerufen wird
    });
</script>

</body>
</html>
