<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kommunikationsinterface</title>
    <link rel="stylesheet" th:href="@{/resources/css/communication_interface.css}">
</head>
<body>

<div class="header-bar">
    <form action="/logout" method="post">
        <button type="submit" class="logout-button">Logout</button>
    </form>
</div>
<div class="chat-interface">
    <h2>Kommunikationsinterface</h2>
    <div class="message-window">
        <!-- Nachrichtenverlauf hier -->
        <div th:each="message : ${messages}">
            <p><b th:text="${message.sender}"></b>: <span th:text="${message.text}"></span></p>
        </div>
    </div>
    <div class="input-group">
        <input id="senderInput" type="text" placeholder="Absender">
        <input id="receiverInput" type="text" placeholder="Empfänger">
        <textarea id="messageInput" placeholder="Nachricht" rows="6"></textarea>
        <button id="sendMessageBtn" type="button">SENDEN</button>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function() {
        // Beim Laden der Seite den Nachrichtenverlauf abrufen
        fetchMessageHistory();
    });

    function fetchMessageHistory() {
        var sender = document.getElementById('senderInput').value;
        var receiver = document.getElementById('receiverInput').value;

        var url = '/message-history?sender=' + sender + '&receiver=' + receiver;

        fetch(url)
            .then(response => response.json())
            .then(messages => {
                // Nachrichtenverlauf in die HTML-Seite einfügen
                var messageWindow = document.querySelector('.message-window');
                messageWindow.innerHTML = ''; // Leeren des Nachrichtenfensters
                messages.forEach(message => {
                    var messageDiv = document.createElement('div');
                    var messageContent = '<p><b>' + message.sender + '</b>: ' + message.text + '</p>';
                    messageDiv.innerHTML = messageContent;
                    messageWindow.appendChild(messageDiv);
                });
            })
            .catch(error => console.error('Error fetching message history:', error));
    }
    /*]]>*/
</script>
</body>
</html>