<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Neuen Account erstellen</title>
	<link rel="stylesheet" th:href="@{/resources/css/register.css}">

</head>

<body>
	<div class="container">
		<h2>Neuen Account erstellen</h2>
		<form th:action="@{/register}" method="post" th:object="${registrationDto}">
			<div>
				<input type="text" id="username" name="username" placeholder="Name" required>
			</div>
			<div>
				<input type="email" id="email" name="email" placeholder="E-Mail" required>
			</div>
			<div>
				<input type="password" id="password" name="password" placeholder="Passwort" required>
			</div>
			<div>
				<input type="submit" value="registrieren">
			</div>
		</form>
	</div>
</body>

</html>